#jsonInput,
.json-output {
    height: 400px;
    /* 預設高度適用於中型螢幕 */
    resize: none;
    /* 禁止用戶調整大小 */
    padding: 15px;
    border-radius: 5px;
}

@media (min-width: 768px) {

    #jsonInput,
    .json-output {
        height: 500px;
        /* 中等螢幕高度 */
    }
}

@media (min-width: 1200px) {

    #jsonInput,
    .json-output {
        height: 600px;
        /* 大螢幕高度 */
    }
}

.json-output {
    overflow-y: auto;
    /* 垂直滾動條 */
    background-color: #E1F0DA;
    border: 1px solid #ced4da;
    font-size: 1rem;
    white-space: pre-wrap;
    color: green;
}